*{
    font-family: cursive;
    margin: 5px;
    padding: 3px;
   box-sizing: border-box;
   scroll-padding-top: 4rem;
   scroll-behavior: smooth;
   list-style: none;
   text-decoration: none;

 }
 :root{
    --main-color:#cc6600;
    --secondary-color:#edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    --box-shadow:2px 2px 10px 14px rgb(0 0 0 0);
}   


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border: 1px solid black;
    padding: 18px 100px;
    background:var(--text-color) ;
    transition:0.5s linear ;
}
.logo img{
width: 60px;

}
.navbar{
    display: flex;
}
.navbar a{
    padding:8px 17px;
    color: var(--bg-color);
    font-size:1rem ;
    text-transform: uppercase;
    font-weight: 500;

} 
.navbar a:hover{
    background-color: var(--main-color);
    border-radius:0.2rem;
    transition: 0.5s all linear;
}
.header-icon{
    font-size:22px;
    cursor: pointer;
    z-index: 10000;
    display:flex;
    column-gap:0.8rem;
}  
.header-icon .bx{
    color:var(--bg-color);


}
#menu-icon{
    color:var(--bg-color);
    font-size:24px;
    z-index:100001;
    cursor: pointer;
    display: none;
    
    
}

  

.container{
 
   
    width: 100%;
    display:flex;
    margin: 10px;
    padding-top: 0px;
    background-color:#000000;

}
.content-section{
    float: left;
    width:100%;
    background-color:#ff4f00;
}

h1{ font-size: 260%;
     font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-align: center;
}


.image{
    background-color: black;
}
.content-section h3{
    font-size: 200%;
    text-align: center;
    color:black;
}
.chef table td{
    text-align: center;
    font-size: medium;
    background-color:#ff4500;
    
    
    
}
.chef{
    background-color:bla; 
}

  

.loca table th{
    border: 1;
    font-size: 300%;
    background-color: #ff8c00;
    border-color: #ff8c00;
}
.loca table td{
    background-color:white;
    border-color: white;
}
.miss{
    background-image: url(27.jpg);
    background-position: center;
    font-weight: 1000;
    font-size: 25px;
    
    
}


.hour{
    font-size: medium;
    font-weight: 1000;
    background-image: url(21.jpg);
    color: yellow;
        
    }
    .neg{
        font-size:130%;
    }

