*{
    font-family: cursive;
    margin: 5px;
    padding: 3px;
   box-sizing: border-box;
   scroll-padding-top: 4rem;
   scroll-behavior: smooth;
   list-style: none;
   text-decoration: none;

 }
 :root{
    --main-color:#cc6600;
    --secondary-color:#edeae3;
    --text-color:#000;
    --bg-color:#fff;
    --box-shadow:2px 2px 10px 14px rgba(0, 0, 0, 0);
}   



header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border: 1px solid rgb(0, 0, 0);
    padding: 18px 100px;
    background:var(--text-color) ;
    transition:0.5s linear ;
}
.logo img{
width: 60px;

}
.navbar{
    display: flex;
}
.navbar a{
    padding:8px 17px;
    color: var(--bg-color);
    font-size:1rem ;
    text-transform: uppercase;
    font-weight: 500;

} 
.navbar a:hover{
    background-color: var(--main-color);
    border-radius:0.2rem;
    transition: 0.5s all linear;
}
.header-icon{
    font-size:22px;
    cursor: pointer;
    z-index: 10000;
    display:flex;
    column-gap:0.8rem;
}  
.header-icon .bx{
    color:var(--bg-color);


}
#menu-icon{
    color:var(--bg-color);
    font-size:24px;
    z-index:100001;
    cursor: pointer;
    display: none;
    
    
}
.header1
{
    font-size: 90px;
    background-image:url(34.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


.td
{
    text-align: center;
    font-size: 100px;
}
     
.content
{
    color: #ff8c00;
}
*
{
    background-color:rgb(0, 0, 0);
}