*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'poppins',sans-serif;
}
.banner{
    min-height: 100vh;
    background: url(rest.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;

}

.banner h1{
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 2px 5px #000000;
}
.card-content{
    background: #e9520cdc;
    height: 400px ;
   
   
}
.card-content h3{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    padding: 25px;
    font-size: 25px;
    font-weight: 500px;
}
.form-row{
   
    display: flex;
    width: 100%;
    margin: 0 auto;

}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 10px;
    padding: 8px 2px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    outline: rgb(255, 73, 73);
    border : 2px solid #fc7638 ;
    border-bottom: 2px solid #fc7638 ;
    font-weight: 300;
}
form input[type = text],
    form input[type=number],
    form input[type=date]
    form input::placeholder,select{
        color: #000000;
        background: #ffffff;
        padding: 12px 2px;
        border-radius: 0px ;
        cursor: pointer;
    }


form input[type=submit]
    {
    color: #fff;
    background: #000000;
    padding: 12px 2px;
    border-radius: 0px;
    cursor: pointer;
}

form input[type=submit]:hover{
  
    background: hwb(0 11% 89% / 0.993);
} 
 

   
      
@media(maxwidth:1000px){
    .card-container{
        grid-template-columns: 100%;
    }
   
}

       

